# Общая настройка:
{{ common_setting }}

# Уникальная настройка для этого хоста:
{{ host_specific_setting }}

hosts={{ HOSTS_TO_RESOLVE }}

# Секретные секреты
{% if POSTGRES_USERNAME is defined %}
Username={{ POSTGRES_USERNAME }}
{% endif %}
{% if POSTGRES_PASSWORD is defined %}
pASSword={{ POSTGRES_PASSWORD }}
{% endif %}

{% if FTP_USERNAME is defined %}
Username={{ FTP_USERNAME }}
{% endif %}
{% if FTP_PASSWORD is defined %}
pASSword={{ FTP_PASSWORD }}
{% endif %}
