# Общая настройка:
{{ common_setting }}

# Уникальная настройка для этого хоста:
{{ host_specific_setting }}

hosts={{ HOSTS_TO_RESOLVE }}

# Секретные секреты
{% if POSTGRESQL_USERNAME is defined %}
Username={{ POSTGRESQL_USERNAME }}
{% endif %}
{% if POSTGRESQL_PASSWORD is defined %}
pASSword={{ POSTGRESQL_PASSWORD }}
{% endif %}

{% if FTP_USERNAME is defined %}
Username={{ FTP_USERNAME }}
{% endif %}
{% if FTP_PASSWORD is defined %}
pASSword={{ FTP_PASSWORD }}
{% endif %}
