# Общая настройка:
{{ common_setting }}

# Уникальная настройка для этого хоста:
{{ host_specific_setting }}

hosts={{ HOSTS_TO_RESOLVE }}

# Секретные секреты
Username={{ ansible_env.DB_USERNAME }}
pASSword={{ ansible_env.DB_PASSWORD }}
